
{% load static %}
<!DOCTYPE html>
<html>
<head>

   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Django blog-{{ title }}</title>
    {% else %}
        <title>Django blog</title>
    {% endif %}
</head>
<body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Staff Leave Applications</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                    
                    
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  {% if user %}
                  <a class="nav-item nav-link" href="{% url 'about1' %}">About</a>
                  <a class="nav-item nav-link" href="{% url 'table1' %}">Leave Applications</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">HOD Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                  {% endif %}
                </div>
                </div>
            </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" >
                        {{ message }}
                    </div>
                  {% endfor %}
               {% endif %}
               {% load crispy_forms_tags %}
               {% block content %}
                   <h3>Employee Details</h3>
                   <form>
                       <div class="form-group"> 
                         <label for="checkhistory">Emp id</label>
                         <input type="text" class="form-control" name="checkhistory" id='checkhistory' aria-describedby="Help" placeholder="Enter employee id">
                         <small id="Help" class="form-text text-muted">Enter id to see the respective employee profile.</small>
                       </div>
                       <button onclick="myFunction()"
                        type="submit" class="btn btn-primary">Submit</button>
                   </form>
                   
                   <table class="table table-bordered">
                       <thead class="thead-light">
                         <tr> 
                           <th scope="col">EMP_ID	</th>
                           <th scope="col">LEAVE_ID</th>
                           <th scope="col">EMP_NAME</th>
                           
                           <th scope="col">DEPTNO</th>
                           <th scope="col">DESG</th>
                           <th scope="col">EMAIL</th>
                           <th scope="col">CONTACT</th>
                           <th scope="col">ADDRESS</th>
                           <th scope="col">NO_OF_LEAVES_LEFT</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           {% for i in values %}
                           <th scope="row">{{i.EMPID}}</th>
                           <th scope="row">{%if leave_id%}{{leave_id}}{% endif %}</th>
                           <td>{{i.EMPNAME}}</td>
                           <td>{{i.DEPTNO}}</td>
                           <td>{{i.DESG}}</td>
                           <td>{{i.EMAIL}}</td>
                           <td>{{i.CONTACT}}</td>
                           <td>{{i.ADDRESS}}</td>
                           <td>{{i.NOLEAVES}}</td>
                           {% endfor %}
                         </tr>
                         </tbody>
                         </table>
                         <form>  
                           <h3>Employee Details</h3>
                  
                           <h5> Click below to edit number of leaves of employee</h5>
                           <button type="submit" class="btn btn-primary">Edit</button>
                          </form>
               
               
                          <br>
                          <div class="content-section">
                           <h5> Click below to check Attendance of employee</h5> 
                          </div>
               
                         
               <form action="{% url 'index' %}">
                 <button type="submit" class="btn btn-secondary">Attendance</button>
                
               </form>
               <button type="button" class="btn"><a href="home3?LEAVE_MSG=rejected&LEAVE_ID={{leave_id}}&LEAVE_STAT=0">REJECT</a></button>
               <button type="button" class="btn"><a href="home3?LEAVE_MSG=accepted&LEAVE_ID={{leave_id}}&LEAVE_STAT=1">ACCEPT</a></button>
               <button type="button" class="btn"><a href="home3?LEAVE_MSG=come to cabin&LEAVE_ID={{leave_id}}&LEAVE_STAT=2">COME TO CABIN</a></button>
                        
                         
               {% endblock content %}
                
                  </div>
                  </div>

          </main>
          
   
    

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<script>
function myFunction() {
  x=document.getElementById("myText").value ;
}
console.log(x);
</script>





 	
