
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <h3>Info about user</h3>
    <form>
        <div class="form-group">
          <label for="checkhistory">Emp id</label>
          <input type="text" class="form-control" id="checkhistory" aria-describedby="Help" placeholder="Enter your id">
          <small id="Help" class="form-text text-muted">Enter id to see your leave ids.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <form>
        <div class="form-group">
          <label for="checkapprovals">Leave id</label>
          <input type="text" class="form-control" id="checkapprovals" aria-describedby="Help" placeholder="Enter your leave id">
          <small id="Help" class="form-text text-muted">After entering id click submit to view your aprroval history.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <form>
      <div >
        <h5> Click Check to know your deatils and no. of leaves left</h5>
      </div>
      <button type="submit" class="btn btn-primary">Check</button>
  </form>

{% endblock content %}



