{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Bio-Tech Engineering</strong></h1><br>
    
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr.Yadavalli Rajasri (I/C. Head)</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Dr C. Obul Reddy</li>
        <li>Dr.V. Aruna</li>
        <li>Dr. S.Shylaja</li>
        <li>Dr G. Vijaya Laxmi</li>
        <li>Smt. S. Sumithra</li>
        <li>Dr K.Raja Gopal</li>
        <li>Dr. V.Parvati Sai Arun P</li>
        <li>Dr. Bishwambhar Mishra</li>
        <li>Dr. C. Nagendranatha Reddy</li>
        <li>Smt. A. Shalini</li>
        <li>Ms. Y. Vineetha</li>
        <li>Smt. A. Priyanka</li>
    </ul>
</div>
{%endblock content%}