{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Chemical Engineering</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. R. Sreedhar Rao (Director AEC & COE)</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. P.V. Naga Prapurna </li>
        <li>Dr. N. L .N. Reddy (Director Career  Development Center)</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Sri I. Balakrishna</li>
        <li>Dr. M. Kalyani</li>
        <li>Dr. P. Madhuri</li>
        <li>Sri K. Prasad Babu</li>
        <li>Dr. B. Ganesh</li>
        <li>Mrs. Harsha Nagar</li>
        <li>Dr. V. Swapna</li>
        <li>Dr. Harikrishnan.N</li>
        <li>Dr. Pragya Mishra</li>
        <li>Dr. Anitha</li>
        
    </ul>
</div>
{%endblock content%}