{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Civil Engineering</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. K. Jagannadha Rao  (Joint Director-Student Affairs &amp; Progression)</li>
        <li>Dr. M. Koti Reddy </li>
        <li>Dr. M. V. Krishna Rao</li>
        <li>Sri. S. S. V. Chalam</li>
        <li>Sri. P. Sreenivas Sarma (Director-Student Affairs &amp; Progression)</li>
        <li>Dr. A. Vimala (Head)</li>
        </ul>
        <h2 class="cs-hdg">Associate Professors</h2>
        <ul>
        <li>Sri A. Balaji Rao</li>
        <li>Dr. N. R. Dakshina Murthy</li>
        </ul>
        <h2 class="cs-hdg">Assistant Professors</h2>
        <ul>
        <li>Sri G. Bhaskar Reddy</li>
        <li>Sri T. Vasudeva Rao</li>
        <li>Smt K. Manasa</li>
        <li>Ms T. Malleswari Devi</li>
        <li>Sri P. Srinivasa Reddy</li>
        <li>Sri K. Koteshwara Rao</li>
        <li>Sri R. Ranga Reddy</li>
        <li>Sri K. V. Vivek</li>
        <li>Smt. Aswari Sultana Begum</li>
        <li>Sri.R. Swami Ranga Reddy</li>
        <li>Sri.D. Sandeep</li>
        <li>Sri.E Maheshwar Reddy</li>
        <li>Sri Ramanarayana Sankriti</li>
        <li>Dr. P. Yugendar</li>
        <li>Smt. N. Lalitha Kumari</li>
        <li>Sri.M. Kalyan</li>
        <li>Sri Vishwanath Gopisetty</li>
        <li>Smt.  Syamili Sarma</li>
        <li>Smt. K. B. V. Siva Kavya</li>
        <li>K. Karthika Kishore</li>
        </ul>
</div>
{%endblock content%}
