{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Computer Science and Engineering</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. Y. Ramadevi (Head)</li>
        <li>Dr. M. Swamy Das  (Joint Director-Academics (Informatics))</li>
        <li>Dr. K. Sagar</li>
        <li>Dr. S. China Ramu</li>
        <li> Smt. N. Ramadevi</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr.T. Sridevi</li>
        <li>Dr. R. Ravinder Reddy</li>
        <li>Dr. Sangeeta Gupta</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
            <li>Sri V. Madhusudan Rao</li>
            <li>Sri G. Vivek</li>
            <li>Sri B. Ramana Reddy</li>
            <li>Smt. D. Naga Jyothi</li>
            <li>Smt.G. Mamatha</li>
            <li>Smt.S. Durga Devi</li>
            <li>Sri A. Mohan</li>
            <li>Dr. E. Padmalatha</li>
            <li>Smt I. Srujana</li>
            <li>Smt. Ch. Vijaya Lakshmi</li>
            <li>Smt. A. Sangeetha</li>
            <li>Sri B. Ramadasu</li>
            <li>Smt.E. Kalpana</li>
            <li>Smt.G. Vanitha</li>
            <li>Smt.K. Mary Sudha Rani</li>
            <li>Sri B. Sateesh</li>
            <li>Smt.T. Suvarna Kumari</li>
            <li>Smt.P. Vimala Manohara Ruth</li>
            <li>Smt K. Spandana</li>
            <li>Smt.G. Kavitha</li>
            <li>Smt. Ch. Madhavi Sudha</li>
            <li>Smt. Kavita Agarwal</li>
            <li>Sri K. Kiran Prakash</li>
            <li>Smt.E. Swathi</li>
            <li>Sri R. Srikanth</li>
            <li>Smt. Isha Padhy</li>
            <li>Mrs.G. Shanmukhi Rama</li>
            <li>Sri M. Venkata Krishna Reddy</li>
            <li>Smt.B. Poonguzharselvi</li>
            <li>Ms. Anusha Vangala</li>
            <li>Mrs.K. Dharani Tejaswini</li>
            <li>Sri J. Shiva Sai</li>
            <li>Ms.R. Madhurima</li>

    </ul>
</div>
{%endblock content%}