{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Electronics and Communications  Engineering</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. N. V. Koteswara Rao</li>
        <li>Dr. D. Krishna Reddy  (Head)</li>
        <li>Dr.  P. Narahari Sastry</li>
        <li>Dr. K. Subba Rao</li>
        <li>Dr. A. D. Sarma</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. N. Alivelu Manga</li>
        <li>Dr. A. Supraja Reddy</li>
        <li> Dr. A.Vani</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Sri K. Sudarshan Reddy </li>
        <li>Sri A. Krishna Kumar</li>
        <li>Sri M. V. Nagabhushanam</li>
        <li>Dr. M. Ramana Reddy</li>
        <li>Smt. K. S. R. S. Jyothsna</li>
        <li>Sri N. Jagan Mohan Reddy</li>
        <li>Smt. A. Sathyavathi</li>
        <li>Smt. N. Dhanalakshmi</li>
        <li>Sri P. Sathish</li>
        <li>Sri T. Aravinda Babu</li>
        <li>Smt B. Neeraja</li>
        <li>Dr. K. Suman</li>
        <li>Sri G. Mallikarjuna Rao</li>
        <li>Sri T. Sridhar</li>
        <li>Sri P. Chandra Sekhar</li>
        <li>Sri G. V. Pradeep Kumar</li>
        <li>Sri Mohd.Ziauddin Jahangir</li>
        <li>Smt.D. Nagadevi</li>
        <li>Sri E. Chandra Sekhar</li>
        <li>Dr. Sai Krishna Kondoju</li>
        <li>Smt.Ch.Navitha</li>
        <li>Sri P. Ranjith</li>
        <li>Smt.J. Mounika</li>
        <li>Sri MD. Sikandar</li>
        <li>Smt.D. Sony</li>
        <li>Sri J. Balakrishna</li>
        <li>Smt. Ghata Chauhan</li>
        <li>Smt. Venkata Sireesha</li>
        <li>Dr. Laxmi Shaw</li>
    </ul>
</div>
{%endblock content%}
