{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Electrical and Electronics Engineering</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. K. Krishna Veni (Director-Academics)</li>
        <li>Dr. P. Venkata Prasad</li>
        <li>Dr. G. Suresh Babu (Head)</li>
        <li> Dr. Umakanta Choudhury</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. M. Balasubba Reddy</li>
        <li>Dr. B. Suresh Kumar</li>
        <li>Dr. T. Murali Krishna</li>
        <li>Dr. P. Kowstubha</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Sri Ch.V. Krishna Reddy</li>
        <li>Sri I. Pranav</li>
        <li>Dr. N. Vasantha Gowri</li>
        <li>Sri M. Thirupathaiah</li>
        <li>Sri P. Hemeshwar Chary</li>
        <li>Sri Ch. Harish</li>
        <li>Sri D. Harsha</li>
        <li>Sri N. Santosh Kumar</li>
        <li>Sri C. Srisailam</li>
        <li>Sri M. Naga Raju</li>
        <li> Dr. N.Venkata Phanendra Babu</li>
        <li>Sri D. Sathish</li>
        <li>Dr. Ahmed Syed</li>
        <li>Sri M. Anil</li>
        <li>Mrs. P. Naga Chaitanya</li>
        <li>Mr. G. Hari Krishna</li>
        <li>Mrs.B.Venkata Haritha</li>
    </ul>
</div>
{%endblock content%}