{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>English</strong></h1><br>
    
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. A. Sandhya Reddy (Head)</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Smt. A. Vijaya Lakshmi</li>
        <li>Sri Srinivasulu Andoju</li>
        <li>Sri K. Naveen Kumar</li>
        <li>Dr. Ch. Suvarna Ragini</li>
        <li>Dr. Shagufta Parween</li>
        <li>Dr. Shirisha Deshpande</li>
        <li>Sri. Vare Laxman</li>
    </ul>
</div>
{%endblock content%}