{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Information Technology</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. P. Suresh (Director – IQAC) </li>
        <li>Dr. K. Radhika (Head)</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. D. Lakshmi Srinivasa Reddy</li>
        <li>Dr. M.Venugopala Chary</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Smt. K. Sugamya</li>
        <li>Smt. A. Sirisha</li>
        <li>Smt. M. Trupthi</li>
        <li>Smt. E. Ramalakshmi</li>

        <li>Smt. T. Prathima</li>
        <li>Smt. K. Swathi</li>
        <li>Smt. NVS. Sridevi Kella</li>
        <li>Dr. B. Veera Jyothi</li>
        <li>Sri V. Santosh</li>
        <li>Sri K. Gangadhar Rao</li>
        <li>Dr. Pragati Priyadarshinee</li>
        <li>Sri S. Rakesh</li>
        <li>Sri U. Sai Ram</li>
        <li>Smt. Kratika Sharma</li>
        <li>Smt. T. Satya Kiranmai</li>
        <li>Smt. B. Sarada</li>
        <li>Smt. Deepa. R</li>
        <li>Smt. B. Swathi Sowmya</li>
        <li>Smt. B. Surya Samantha</li>
        <li>Smt. Y. Gnyana Deepa</li>
        <li>Sri K. Rajesh Kannan</li>
        <li>Sri. P. Vasanth Sena</li>
        <li>Sri R. Govardhan Reddy</li> 
    </ul>
</div>
{%endblock content%}