{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Mathematics</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. P. Raj Reddy   (Head)</li>
        <li>Dr. M. Ganeshwar Rao</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. Swatmaram</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Dr. G. Narsimlu</li>
        <li>Dr. B. R. Sreedhar</li>
        <li>Dr. P. Suresh</li>
        <li>Dr. G. Deepa</li>
        <li>Sri  M. Amarnath</li>
        <li>Dr. K. Sharada</li>
        <li>Dr. Mamta Thakur</li>
        <li>Dr. A. Padma</li>
        <li>Dr. Palle Kiran</li>

    </ul>
</div>
{%endblock content%}