{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Master of Computer Application</strong></h1><br>
    
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Dr. D. Lakshmi Srinivasa Reddy (Head)</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Dr. G. N. R. Prasad</li>
        <li>Sri D. Jayaram</li>
        <li>Sri M. Kalidas</li>
        <li>Sri M. Ramchander</li>
        <li>Sri P. Krishna Prasad</li>
        <li>Sri B. Srinivas S. P. Kumar</li>
        <li>Dr. B. Indira</li>
        <li>Sri C. N. V. B. R. Sri Gowrinath</li>
        <li>Sri P. Ramesh</li>
        
    </ul>
</div>
{%endblock content%}