{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <h1 class="heading"><strong>Mechanical Engineering</strong></h1>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
    <li>Dr. P. Ravinder Reddy       (Principal)</li>
    <li>Dr G Chandra Mohan Reddy</li>
    <li>Dr. M. V. S. Murali Krishna</li>
    <li>Dr. P. V. R. Ravindra Reddy (Head)</li>
    <li>Dr. N.V. Srinivasulu</li>
    <li>Dr. P. Prabhakar Reddy</li>
    <li>Dr. G. Laxmaiah</li>
    </ul>
    <h2 class="cs-hdg">Associate Professors</h2>
    <ul>
        <li>Sri P.Ramakrishna Reddy</li>
        <li>Sri. B. Suryanarayana</li>
        <li>Dr. T. Ratna Reddy</li>
        <li>Dr. R. P. Chowdary</li>
        <li>Dr. K. Kishor</li>
        <li>Dr. V. V. R. Seshagiri Rao</li>
        <li> Dr. S. Solomon Raj</li>
        <li>Dr. Md. Aleem Pasha</li>
    </ul>
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Sri. P. Radha Krishna Prasad</li>
        <li>Sri. P. Kiran Kumar</li>
        <li>Dr. L. Suresh Kumar</li>
        <li>Smt. Y. Nagini</li>
        <li>Smt. Ch. Indira Priyadarsini</li>
        <li>Sri. N. Venkateswara Rao</li>
        <li>Dr. B. V. S. Rao</li>
        <li>Smt. V. Sandhya</li>
        <li>Dr. S. Narasimha Kumar</li>
        <li>Dr. N. Janardhan</li>
        <li>Smt. N. Jyothirmayi</li>
        <li>Sri. V. Jaipal Reddy</li>
        <li>Smt. P. Anjani Devi</li>
        <li>Dr. P. Rama Lakshmi</li>
        <li>Sri. T. N. Aditya</li>
        <li>Smt. Ch. V. Sushma</li>
        <li>Sri. A. Chandrakanth</li>
        <li>Sri. K. Gurubrahmam</li>
        <li>Sri. D. Ravi</li>
        <li>Dr. Manowar Hussain</li>
        <li>Dr. Rahul</li>
        <li>Sri.P. Surendar Reddy</li>
        <li>Ms. Ipsita Mohanty</li>
        <li>Smt. D. Sita Madhuri</li>
        <li>Sri. Narasimha Kulkarni</li>
        <li>Smt. K N V Sreedevi</li>
        <li>Sri. K. Yasoda Sreeram</li>
        <li>Sri Chintireddy Sharath Reddy</li>
      
    </ul>
</div>
{% endblock content%}