{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<h1 class="heading"><strong>Physics Dept.</strong></h1><br>
    <h2 class="cs-hdg">Professors</h2>
    <ul>
        <li>Dr. B. Linga Reddy (Head)</li>
        <li>Dr. B. Sreenivasa Reddy</li>
    </ul>
   
    <h2 class="cs-hdg">Assistant Professors</h2>
    <ul>
        <li>Dr. Y. Srinivasa Reddy</li>
        <li>Dr. K. Vinaya Kumar Reddy</li>
        <li>Sri G. Nataraju</li>
        <li>Dr. M. Subhadra</li>
        <li>Dr. Neelima Agarwal</li>
        <li>Dr. S. Shravan Kumar Reddy</li>
        <li>Dr. A. Santhosh Kumar</li>
        
    </ul>
</div>
{%endblock content%}